body {
  font-family: 'Inter', sans-serif;
  padding: 0 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#master a {
  color: #5dc0e4;
  background-color: white;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

article {
  margin: 18px;
  padding: 18px;
  border-radius: 25px;
  background-color: white;
  color: black;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

article img {
  width: 100%;
}

article h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
